<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dbConnectionString" connectionString="Data Source=52.14.31.135;Initial Catalog=APITransaction;Persist Security Info=True;User ID=KrunalP2;Password=Shiva@1984" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>